# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE-MIT
!.gitignore
!build.zig
!build.zig.zon
!.github/**/*.yml

!*.zig

# Blacklist (overrides Whitelist)
**/zig-out/**
**/zig-cache/**
**/.zig-cache/**
